<div style="overflow:hidden" ng-controller="MsgsCtrl">

<div style="float: left; width : 50%">
<geomap marks="marks" center="center"/>
</div>

<div style="float: right; height : 100%; width : 50%;">
  <div ng-controller="UserCtrl">
    <form id="initForm" class="css-form">
      name : <input type="text" ng-model="user.name" ng-minlength="4" ng-maxlength="32" autofocus="autofocus" required  placeholder="your name" />
      at <input type="text" ng-model="user.location.address" ng-minlength="4" ng-maxlength="64" required placeholder="your address"/>
      <input type="submit" ng-click="find()" id="findBtn" value="Find"/>
    </form>
    <div id="resume" style="display:none;">
      {{user.name}} at {{user.location.address}}
      <a bs-popover="'partials/msg.html'" placement="bottom"><img src="img/plus.png" /> </a>
    </div>
  </div>

  <div style="margin-left:10px">
    <div  style="clear:both;">
      <hr/>
      <div ng-if="msgs.length == 0">
        pas de résultat
      </div>
      <div ng-repeat="m in msgs">
        {{m.msg.title}} (<a href="" ng-click="centerUser(m.user)">{{m.user.name}}</a>) {{m.msg.body}}
      </div>
    </div>
  </div>
</div>
